version: '3.8'

x-common-env-vars: &common-env-vars
  MYSQL_DATABASE: dev
  MYSQL_USER: admin
  MYSQL_PASSWORD: <provide-password-here>

services:
  app:
    image: saroopa/pythonwebbase-client
    networks:
      - app-network
    build:
      context: ./client
    depends_on:
      - server
    ports:
      - 3000:3000
    stdin_open: true
    volumes:
      - ./client:/app

  server:
    image: saroopa/pythonwebbase-server
    networks:
      - app-network
    build:
      context: ./server
    environment:
      <<: *common-env-vars
    depends_on:
      mysqldb:
        condition: service_healthy
    ports:
      - 8000:8000
    stdin_open: true
    volumes:
      - ./server:/app

  mysqldb:
    image: mysql:latest
    platform: linux/x86_64
    restart: always
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - app-network
    environment:
      <<: *common-env-vars
      MYSQL_ROOT_PASSWORD: <provide-root-password-here>
    ports:
      - 3306:3306
    healthcheck:
      test: "mysqladmin -u root -p$$MYSQL_ROOT_PASSWORD ping --protocol=tcp"
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s

volumes:
  db-data:  

networks:
  app-network:
    driver: bridge
