.todoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkboxDescWrapper {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 12px;
    align-items: center;
}

.todoDesc {
    margin-left: 8px;
}

.input {
    margin-right: 8px;
}