.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todo-item .checkbox-desc-wrapper {
    width: fit-content;
}

.checkbox-desc-wrapper input {
    margin-right: 8px;
}